body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
  color: white;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
}

.download, a {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

.big-title {
  font-weight: 300;
  font-size: 42px;
}

.small-title {
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
  color: gray;
}
